body {
    font-family: Comic Sans MS, cursive;
    background-color: #64857f;
    color: #ffeabd;
}

header {
    background-color: #163235;
    color: #efca7c;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    font-size: 2rem;
}

ul {
    list-style-type: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid #e5e6e1;
}

th, td {
    padding: 8px;
    text-align: left;
}
